<div style="width: 187px;float: right;margin-right:70px;"><div class="featured-product" style="margin-bottom:25px; text-align:left;">
    <a style="width:100%;text-align:center!important;" aria-label="Muscle Milk Genuine Protein - Chocolate"
        href="/p/muscle-milk-genuine-protein-powder-chocolate-2-47-lb-powder/mus0001" ng-click="asset.promoClick({id :  '2008_Genuine Protein Chocolate Shop All Categories Featured Product Protein & Fitness 1', position : 'Shop All Categories Featured Product Protein & Fitness 1', name : '2008_Genuine Protein Chocolate', creative: 'General'})">
        <div
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:5px; text-align: center;">
            Muscle Milk
        </div>
        <div class="featured-product-link"
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:10px; text-align: center;">
            Genuine Protein - Chocolate
        </div>
        <div>
            <img alt="" src="//s7.vitaminshoppe.com/is/image/VitaminShoppe/2206118_set?wid=180&amp;$L3_CLP$"
                style="max-height:133px;" />
        </div>
        <button tabindex="-1"
            style="padding: 8px !important; border-radius: 5px; margin: 2px 0 0 26px; text-align: center; text-transform: uppercase; background: #0458ad; color: #fff;width: 30px;">
            Shop Now
        </button>
    </a>
</div><div class="featured-product" style="margin-bottom:25px; text-align:left;">
    <a style="width:100%;text-align:center!important;" aria-label="BodyTech Beta-Alanine Powder"
        href="/p/bodytech-beta-alanine-5-1-oz-powder/vs-2699" ng-click="asset.promoClick({id :  '2008_Beta Alanine Powder Shop All Categories Featured Product Protein & Fitness 2', position : 'Shop All Categories Featured Product Protein & Fitness 2', name : '2008_Beta Alanine Powder', creative: 'General'})">
        <div
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:5px; text-align: center;">
            BodyTech
        </div>
        <div class="featured-product-link"
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:10px; text-align: center;">
            Beta-Alanine Powder
        </div>
        <div>
            <img alt="" src="//s7.vitaminshoppe.com/is/image/VitaminShoppe/1991306_set?wid=180&amp;$L3_CLP$"
                style="max-height:133px;" />
        </div>
        <button tabindex="-1"
            style="padding: 8px !important; border-radius: 5px; margin: 2px 0 0 26px; text-align: center; text-transform: uppercase; background: #0458ad; color: #fff;width: 30px;">
            Shop Now
        </button>
    </a>
</div></div>