<div style="width: 187px;float: right;margin-right:70px;"><div class="featured-product" style="margin-bottom:25px; text-align:left;">
    <a style="width:100%;text-align:center!important;" aria-label="BPI Keto Weight Loss Support Supplement"
        href="/p/keto-weight-loss-75-capsules/1b-1139" ng-click="asset.promoClick({id :  '2008_Keto Weight Loss Support Shop All Categories Featured Product Weight Control 1', position : 'Shop All Categories Featured Product Weight Control 1', name : '2008_Keto Weight Loss Support', creative: 'General'})">
        <div
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:5px; text-align: center;">
            BPI
        </div>
        <div class="featured-product-link"
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:10px; text-align: center;">
            Keto Weight Loss Support Supplement
        </div>
        <div>
            <img alt="" src="//s7.vitaminshoppe.com/is/image/VitaminShoppe/2102978_set?wid=180&amp;$L3_CLP$"
                style="max-height:133px;" />
        </div>
        <button tabindex="-1"
            style="padding: 8px !important; border-radius: 5px; margin: 2px 0 0 26px; text-align: center; text-transform: uppercase; background: #0458ad; color: #fff;width: 30px;">
            Shop Now
        </button>
    </a>
</div><div class="featured-product" style="margin-bottom:25px; text-align:left;">
    <a style="width:100%;text-align:center!important;" aria-label="Sports Research Corporation Sweet Sweat Workout Enhancer"
        href="/p/sports-research-sweet-sweat-jar-1-jar/sc-1006" ng-click="asset.promoClick({id :  '2008_Sweet Sweat Workout Enhancer Shop All Categories Featured Product Weight Control 2', position : 'Shop All Categories Featured Product Weight Control 2', name : '2008_Sweet Sweat Workout Enhancer', creative: 'General'})">
        <div
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:5px; text-align: center;">
            Sports Research Corporation
        </div>
        <div class="featured-product-link"
            style="color:#012169; font-size:1.3rem;line-height: 1.5rem;font-family:'lato, serif'
            font-weight:bold;; margin-bottom:10px; text-align: center;">
            Sweet Sweat Workout Enhancer
        </div>
        <div>
            <img alt="" src="//s7.vitaminshoppe.com/is/image/VitaminShoppe/1970946_set?wid=180&amp;$L3_CLP$"
                style="max-height:133px;" />
        </div>
        <button tabindex="-1"
            style="padding: 8px !important; border-radius: 5px; margin: 2px 0 0 26px; text-align: center; text-transform: uppercase; background: #0458ad; color: #fff;width: 30px;">
            Shop Now
        </button>
    </a>
</div></div>